 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I started my career developing edtech products in 2003.<br>After that, I worked on a knowledge management platform that drove national aviation regulatory changes.
                    <br>For the past 7 years I've been working with product management and, ocasionally, biz dev. I graduated in Class 1 of Startup Chile with my first company, in HR tech, and also led a Silicon Valley startup entry strategy in Latin America.<br> Then I joined a 3D printing startup founding team. The company focus on very interesting pain points of the industry, and our work and thought leadership have earned us strong reputation and media attention.</p>
                </div>
                <div class="col-lg-4">
                    <p>I worked for a local edtech company, helping school districts manage change and experiment with new instructional models, and now I'm on a global expert in online market research data, managing the ad operations product that serves 2.5M members on eMiles and a few milion more on Peanut Labs.<br>
                    I enjoy social media more than I should, read less than I would like to, spend more time watching senseless TV than I admit, need deep human connection more than I realize, miss my family more than I would imagine.<br>
                    I like cooking, running, reading, sewing, sun bathing, Python, silence, hiking and yoga. I pray because I'm helpless. I volunteer because it helps me while it helps other people.<br>
                    I should get a dog.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://twitter.com/vivoandando" class="btn btn-lg btn-outline">
                        <i class="fa fa-twitter"></i> Follow me on Twitter
                    </a>
                </div>
            </div>
        </div>
    </section>
