    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h4>{{ site.footer.location }}</h4>
                        <p>
                            {% for address in site.address %}
                                {{ address.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>{{ site.footer.social }}</h4>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h4>Words</h4><p> <a href="https://www.goodreads.com/karlalopez">Readings</a>
                    &bull; <a href="https://medium.com/@vivoandando">Writings</a> &bull; 
                    <a href="https://speakerdeck.com/karlalopez">Talks</a><br>
                    </p>
                    <h4>Film photography</h4><p> <a href="https://www.flickr.com/photos/vivoandando/collections/72157605076327961/">By film</a> &bull;
                    <a href="https://www.flickr.com/photos/vivoandando/collections/72157605084400840/">By camera</a><br>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }} &bull; {{ site.footer.credits }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
